<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>

    <p>The list "<strong><%= list.listType%></strong>" - <%= list.description%>, has the following books:</p>
    <ul>
        <% bookDetails.forEach(book => { %>
          <li>
            <h4><%= book.title %></h4>
            <p>Author: <%= book.author %></p>
            <% book.editions.forEach(edition => { %>
              <p>
                Published: <%= edition.datePublished.toLocaleDateString() %> by <%= edition.publishingHouse %>
                (<%= edition.language %>, <%= edition.noOfPages %> pages)
              </p>
            <% }) %>
          </li>
        <% }) %>
      </ul>
      
</body>
</html>